{% extends "base.html" %} 
{% block title %} Ошибка 500 {% endblock %}
{% load static %}
{% block static %}
<link rel="stylesheet" href="{% static '/pages/index.css' %}">
{% endblock %}

{% block content %}
<main class="main container">
    <div class="custom-center-block">

        <h1>Ошибка 500</h1>
        <p class="lead">Ошибка на сервере, попробуйте обновить страницу или обратиться позже</p>
        <p class="lead"><a href="{% url 'index' %}">Вернуться на главную</a></p>
    </div>

<br><br><br><br><br>
</main>

{% endblock %}