{% extends 'base.html' %}
{% block title %}Мои подсписки{% endblock %}
{% load static %}
{% block static %}
    <link rel="stylesheet" href="{% static 'pages/myFollow.css' %}">
{% endblock %}
    
{% load user_filters %}
{% load templates_filters%}

{% block content %}

<main class="main container">
    {% csrf_token %}
            <div class="main__header">
                <h1 class="main__title">Мои подписки</h1>
            </div>
    <div class="card-list">
        {% for follow in page %}
        <div class="card-user" data-author="{{ follow.id }}">
            <div class="card-user__header">
                <h2 class="card-user__title">{{ follow.username }}</h2>
            </div>
            <div class="card-user__body">
                <ul class="card-user__items">
                    {% for recipe in follow.recipes.all|slice:":3" %}
                    <li class="card-user__item">
                        <div class="recipe {% if shop_list %}recipe_reverse{% endif %}">
                        {% load thumbnail %}
                            {% thumbnail recipe.image "250x250" crop="center" upscale=True as im %}
                            <img src="{{ im.url }}" alt="The author of the recipe did not add a photo" class="recipe__image">
                            {% endthumbnail %}
                            <h3 class="recipe__title"><a href="{% url 'recipe_view' recipe.author.username recipe.id %}">{{ recipe.title }}</a></h3>
                            <p class="recipe__text"><span class="icon-time"></span> {{ recipe.cooking_time }} minutes</p>
                        </div>
                    </li>
                    {% endfor %}
                    {% if follow|get_count_recipes %}
                    <li class="card-user__item">
                        <a href="{% url 'profile' follow %}" class="card-user__link link">{{ follow|get_count_recipes }}</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
            <div class="card-user__footer">
                <button class="button button_style_light-blue button_size_auto" name="subscribe">Отписаться</button>
            </div>
        </div> 
        {% endfor %}   
    </div>
{% if page.has_other_pages %}
{% include "includes/paginator.html" %}
{% endif %} 
</main>
<script src="{% static 'js/config/config.js' %}"></script>
<script src="{% static 'js/components/MainCards.js' %}"></script>
<script src="{% static 'js/components/MyFollow.js' %}"></script>
<script src="{% static 'js/components/Subscribe.js' %}"></script>
<script src="{% static 'js/components/Header.js' %}"></script>
<script src="{% static 'js/api/Api.js' %}"></script>
<script src="{% static 'myFollow.js' %}"></script>
{% endblock %}
